@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@theme {
    --color-p1: #2EF2FF;
    --color-p2: #3C52D9;
    --color-p3: #C8EA80;
    --color-p4: #EAEDFF;
    --color-p5: #C4CBF5;
    --color-s1: #080D27;
    --color-s2: #0C1838;
    --color-s3: #334679;
    --color-s4: #1959AD;
    --color-s5: #263466;
    --color-black: #000;
    --color-black-100: #05091D;

    --flex-320: 0 0 320px;

    --font-inter: "Inter", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    --shadow-100: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 16px 24px rgba(0, 0, 0, 0.25),
    inset 0px 3px 6px #1959AD;
    --shadow-200: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 16px 24px rgba(0, 0, 0, 0.25),
    inset 0px 4px 10px #3391FF;
    --shadow-300: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 16px 24px rgba(0, 0, 0, 0.25),
    inset 0px 3px 6px #1959AD;
    --shadow-400: inset 0px 2px 4px rgba(255, 255, 255, 0.05);
    --shadow-500: 0px 16px 24px rgba(0, 0, 0, 0.25),
    0px -14px 48px rgba(40, 51, 111, 0.7);

    --radius-14: 14px;
    --radius-20: 20px;
    --radius-40: 40px;
    --radius-half: 50%;
    --radius-7xl: 40px;
}


html {
    background-color: var(--color-s1);
}

body {
    font-family: var(--font-poppins);
    font-size: 16px;
    letter-spacing: -0.03em;
    color: var(--color-p5);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    letter-spacing: -0.03em;
    background: none;
}


.g5 {
    background: linear-gradient(#253575, #162561);
}


.g4 {
    background: linear-gradient(#253575, #162561);
}

.g7 {
    background: linear-gradient(#1b275a, #0e1434);
}


.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}